/* elements  */
fieldset {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    background-color: lightgrey;
    border: 1px solid grey;
    margin-bottom: 10px;
    width: 400px;
    margin: auto;
    margin-bottom: 10px;
}

/* Main title on page */
.main_header {
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    border: 1px solid grey;
    background: lightblue; 
}

/* Changes to Labels */
.topics {
    padding: 2px 5px;
    font-family: 'Didact Gothic', sans-serif;
}
